nav,
main {
	padding: 24px;
}

nav {
	background-color: #039be5;
}

nav a {
	text-decoration: none;
}

nav a h2 {
	color: #ffffff;
	margin: 0;
}

main {
	margin: 0 auto;
}

h2 {
	color: #ffffff;
	margin: 0;
}
